<section class="container">
    <div class="row content d-flex justify-content-center align-items-center">
        <div class="col-md-5">
            <div class="box shadow bg-white p-4">
                <h3 class="mb-4 text-center fs-1">{{ title }}</h3>
                <form action="/login" method="POST" class="mb-3">
                    <h9 style="color: red; text-align: center;">{{ errMessage }}</h9>
                    <h9 style="color: green; text-align: center;">{{ okMessage }}</h9>
                    <div class="form-floating mb-3">
                        <input type="text" name="username_email" value="{{inputData.username_email}}" class="form-control rounded-0" placeholder="Username/Email">
                        <label for="username">Username/Email</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" name="password" class="form-control rounded-0" placeholder="Password">
                        <label for="password">Password</label>
                    </div>
                    <div class="d-grid gap-2 mb-3">
                        <button type="submit" class="btn btn-dark border-0 rounded-0">{{ title }}</button>
                    </div>
                    <div class="forgot-password-link mb-3 text-right" style="text-align: right;">
                        <a href="#" title="Forgot Password" class="text-decoration-none">Forgot Password?</a>
                    </div>
                </form>
                <div class="forgot-password-link mb-3 text-center" style="text-align: center;">
                    <a href="/signup" title="Sign Up" class="text-decoration-none">No Account yet?</a>
                </div>
            </div>
        </div>
    </div>
</section>