<style>
    body {
        background-color: var(--main-bg-color);
        min-height: 100vh;
        padding-bottom: 100px;
    }

    #video-container {
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
        background-color: var(--main-ui-color);
        border-radius: 15px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        resize: horizontal;

        display: flex;
        flex-direction: column;
        /* align-items: center;
        justify-content: center; */

        width: 90vh;
        min-width: 40vh;
        max-width: 110vh;
        /* resize: both; */
        overflow: auto;
    }

    #video-video {
        /*max-width: 85vh;*/
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        max-height: 85vh;
    }

    #video-title, .video-desc {
        word-wrap: break-word;   
        overflow-wrap: break-word;
        word-break: break-word;
        padding: 10px;
        color: var(--main-text-color);
    }
    .user-button {
        position: relative;
        margin-bottom: 10px;
        left: 10px;
        width: 75px;
    }

    @media only screen and (max-width: 600px) {
        #video-container {
            width: 90%;
            max-width: 90%;
        }
        #video-video {
            width: 100%;
            max-width: 100%;
            min-width: 100%;
        }
    }
</style>

<div id="video-container">
    <h1 id="video-title">{{ video.title }}</h1>
    <video id="video-video" controls controlsList="nodownload">
        <source src="/videos/{{video.video_id}}.{{video.mimetype}}">
    </video>
    <h4>
        {{#if video.description}}
            <h6 class="video-desc">{{ video.description }}</h6>
        {{else}}
            <h6 class="video-desc">No description.</h6>
        {{/if}}
    </h4>
    <a class="btn button user-button" href="/user/{{video.username}}">{{ video.username }}</a>
</div>

{{!-- https://www.youtube.com/watch?v=MxfxiR8TVNU --}}