<section class="container">
    <div class="row content d-flex justify-content-center align-items-center">
        <div class="col-md-5">
            <div class="box shadow bg-white p-4">
                <h3 class="mb-4 text-center fs-1">{{ title }}</h3>
                <form action="/signup" method="POST" class="mb-3">
                    <input type="hidden" name="_csrf" value="{{csrfToken}}">
                    <h9 style="color: red; text-align: center;">{{ errMessage }}</h9>
                    <h9 style="color: green; text-align: center;">{{ okMessage }}</h9>
                    <div class="form-floating mb-3">
                        <input type="text" name="username" value="{{inputData.username}}" class="form-control rounded-0" placeholder="Username">
                        <label for="username">Username</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="email" name="email" value="{{inputData.email}}" class="form-control rounded-0" placeholder="Email">
                        <label for="email">Email</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" name="password" class="form-control rounded-0" placeholder="Password">
                        <label for="password">Password</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" name="confirm_password" class="form-control rounded-0" placeholder="Confirm Password">
                        <label for="confirm_password">Confirm Password</label>
                    </div>
                    <div class="d-grid gap-2 mb-3">
                        <button type="submit" class="btn btn-dark border-0 rounded-0">{{ title }}</button>
                    </div>
                </form>
                <div class="forgot-password-link mb-3 text-center" style="text-align: center;">
                    <a href="/login" title="Sign In" class="text-decoration-none">Already an Account?</a>
                </div>
            </div>
        </div>
    </div>
</section>